In [1]:
import pandas as pd

In [2]:
game_file = r'C:\Users\Jake\Documents\GitHub\DataPlayGround2\csv\NDA_2022_2023\Games.csv'
players_file = r'C:\Users\Jake\Documents\GitHub\DataPlayGround2\csv\NDA_2022_2023\Players.csv'
stats_file = r'C:\Users\Jake\Documents\GitHub\DataPlayGround2\csv\NDA_2022_2023\Stats.csv'
game = pd.read_csv(game_file)
players = pd.read_csv(players_file)
stats = pd.read_csv(stats_file)

In [3]:
players

    Player_ID First_Name   Last_Name  Grad_Year Position
0           1       Hope  Barrington       2023        G
1           2    Destiny     Webster       2026        G
2           3    Kendall     Ronsman       2025        G
3           4      Paige    DeMoulin       2024        G
4          10     Trista       Fayta       2024       PG
5          11     Sydney  Whitehouse       2024        F
6          13       Kaia     Waldrop       2026        F
7          15     Hannah     Greisen       2024        F
8          20     Peyton      Musial       2025        G
9          21     Morgan       Gokey       2025        G
10         24     Gracie      Grzesk       2024        F

In [4]:
game

,Game_ID,Opponent,Game_Type,NDA_Score,Opponent_Score,OT_Flag
0,1,Kimberly,Scrimmage,50,38,N
1,2,SPASH,Scrimmage,52,27,N
2,3,Oak Creek,Scrimmage,30,16,N
3,4,Pewaukee,Regular Season,67,68,N
4,5,Verona,Regular Season,79,57,N
5,6,Ashwaubenon,Regular Season,87,13,N
6,7,Nazareth Academy,Regular Season,64,38,N
7,8,Sheboygan South,Regular Season,92,34,N
8,9,Pulaski,Regular Season,75,19,N

In [5]:
stats

,Player_ID,Game_ID,Start,Played,2FGM,2FGA,3FGM,3FGA,FTM,FTA,Off_Reb,Def_Reb,Assist,Steal,Block,Turnover
0,1,2,Y,Y,3,6,0,1,2,3,1,2,2,0,0,0
1,2,2,N,N,0,0,0,0,0,0,0,0,0,0,0,0
2,3,2,N,Y,0,0,0,2,0,0,0,0,2,1,0,1
3,4,2,N,Y,2,2,0,0,0,0,0,2,1,1,0,0
4,10,2,N,N,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61,13,9,N,Y,5,8,0,0,0,3,3,3,0,1,0,0
62,15,9,N,Y,0,0,0,1,0,0,2,3,4,0,0,1
63,20,9,Y,Y,3,5,1,2,3,4,0,2,0,4,0,0
64,21,9,N,Y,0,1,0,0,0,0,2,1,0,1,0,0
65,24,9,Y,Y,5,9,0,1,2,4,3,2,2,1,0,3

In [6]:
game_stats = stats.groupby(by = ['Game_ID'], as_index = False)[['2FGM', '2FGA', '3FGM', '3FGA', 'FTM', 'FTA', 'Off_Reb', 'Def_Reb', 'Assist', 'Steal', 'Block', 'Turnover']].sum()
game_stats_full = pd.merge(game_stats, game, on = 'Game_ID')
game_stats_full

,Game_ID,2FGM,2FGA,3FGM,3FGA,FTM,FTA,Off_Reb,Def_Reb,Assist,Steal,Block,Turnover,Opponent,Game_Type,NDA_Score,Opponent_Score,OT_Flag
0,2,16,23,3,11,9,13,5,10,9,10,0,6,SPASH,Scrimmage,52,27,N
1,4,17,27,4,11,21,28,11,24,14,3,5,14,Pewaukee,Regular Season,67,68,N
2,6,24,37,11,19,6,8,12,14,17,21,7,9,Ashwaubenon,Regular Season,87,13,N
3,7,20,30,4,10,12,14,8,24,12,2,3,16,Nazareth Academy,Regular Season,64,38,N
4,8,26,34,11,28,7,11,13,18,15,17,3,8,Sheboygan South,Regular Season,92,34,N
5,9,23,39,4,15,17,26,13,19,14,16,2,6,Pulaski,Regular Season,75,19,N

In [7]:
full_stats = pd.merge(stats, players, on = 'Player_ID').merge(game, on = 'Game_ID')
full_stats

,Player_ID,Game_ID,Start,Played,2FGM,2FGA,3FGM,3FGA,FTM,FTA,...,Turnover,First_Name,Last_Name,Grad_Year,Position,Opponent,Game_Type,NDA_Score,Opponent_Score,OT_Flag
0,1,2,Y,Y,3,6,0,1,2,3,...,0,Hope,Barrington,2023,G,SPASH,Scrimmage,52,27,N
1,2,2,N,N,0,0,0,0,0,0,...,0,Destiny,Webster,2026,G,SPASH,Scrimmage,52,27,N
2,3,2,N,Y,0,0,0,2,0,0,...,1,Kendall,Ronsman,2025,G,SPASH,Scrimmage,52,27,N
3,4,2,N,Y,2,2,0,0,0,0,...,0,Paige,DeMoulin,2024,G,SPASH,Scrimmage,52,27,N
4,10,2,N,N,0,0,0,0,0,0,...,0,Trista,Fayta,2024,PG,SPASH,Scrimmage,52,27,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61,13,9,N,Y,5,8,0,0,0,3,...,0,Kaia,Waldrop,2026,F,Pulaski,Regular Season,75,19,N
62,15,9,N,Y,0,0,0,1,0,0,...,1,Hannah,Greisen,2024,F,Pulaski,Regular Season,75,19,N
63,20,9,Y,Y,3,5,1,2,3,4,...,0,Peyton,Musial,2025,G,Pulaski,Regular Season,75,19,N
64,21,9,N,Y,0,1,0,0,0,0,...,0,Morgan,Gokey,2025,G,Pulaski,Regular Season,75,19,N
65,24,9,Y,Y,5,9,0,1,2,4,...,3,Gracie,Grzesk,2024,F,Pulaski,Regular Season,75,19,N

In [8]:
full_stats['FGA'] = full_stats['2FGA'] + full_stats['3FGA']
full_stats['FGM'] = full_stats['2FGM'] + full_stats['3FGM']
full_stats['Points'] = (2 * full_stats['2FGM']) + (3 * full_stats['3FGM']) + full_stats['FTM']
full_stats

,Player_ID,Game_ID,Start,Played,2FGM,2FGA,3FGM,3FGA,FTM,FTA,...,Grad_Year,Position,Opponent,Game_Type,NDA_Score,Opponent_Score,OT_Flag,FGA,FGM,Points
0,1,2,Y,Y,3,6,0,1,2,3,...,2023,G,SPASH,Scrimmage,52,27,N,7,3,8
1,2,2,N,N,0,0,0,0,0,0,...,2026,G,SPASH,Scrimmage,52,27,N,0,0,0
2,3,2,N,Y,0,0,0,2,0,0,...,2025,G,SPASH,Scrimmage,52,27,N,2,0,0
3,4,2,N,Y,2,2,0,0,0,0,...,2024,G,SPASH,Scrimmage,52,27,N,2,2,4
4,10,2,N,N,0,0,0,0,0,0,...,2024,PG,SPASH,Scrimmage,52,27,N,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61,13,9,N,Y,5,8,0,0,0,3,...,2026,F,Pulaski,Regular Season,75,19,N,8,5,10
62,15,9,N,Y,0,0,0,1,0,0,...,2024,F,Pulaski,Regular Season,75,19,N,1,0,0
63,20,9,Y,Y,3,5,1,2,3,4,...,2025,G,Pulaski,Regular Season,75,19,N,7,4,12
64,21,9,N,Y,0,1,0,0,0,0,...,2025,G,Pulaski,Regular Season,75,19,N,1,0,0
65,24,9,Y,Y,5,9,0,1,2,4,...,2024,F,Pulaski,Regular Season,75,19,N,10,5,12

In [9]:
game_stats_full['FGA'] = game_stats_full['2FGA'] + game_stats_full['3FGA']
game_stats_full['FGM'] = game_stats_full['2FGM'] + game_stats_full['3FGM']
game_stats_full['Points'] = (2 * game_stats_full['2FGM']) + (3 * game_stats_full['3FGM']) + game_stats_full['FTM']
game_stats_full

,Game_ID,2FGM,2FGA,3FGM,3FGA,FTM,FTA,Off_Reb,Def_Reb,Assist,...,Block,Turnover,Opponent,Game_Type,NDA_Score,Opponent_Score,OT_Flag,FGA,FGM,Points
0,2,16,23,3,11,9,13,5,10,9,...,0,6,SPASH,Scrimmage,52,27,N,34,19,50
1,4,17,27,4,11,21,28,11,24,14,...,5,14,Pewaukee,Regular Season,67,68,N,38,21,67
2,6,24,37,11,19,6,8,12,14,17,...,7,9,Ashwaubenon,Regular Season,87,13,N,56,35,87
3,7,20,30,4,10,12,14,8,24,12,...,3,16,Nazareth Academy,Regular Season,64,38,N,40,24,64
4,8,26,34,11,28,7,11,13,18,15,...,3,8,Sheboygan South,Regular Season,92,34,N,62,37,92
5,9,23,39,4,15,17,26,13,19,14,...,2,6,Pulaski,Regular Season,75,19,N,54,27,75

In [10]:
def get_ppa_two(row):
    total_points = 2 * row['2FGM']
    total_attempts = row['2FGA']
    if total_attempts > 0:
        return total_points / total_attempts
    else:
        return 0

def get_ppa_three(row):
    total_points = 3 * row['3FGM']
    total_attempts = row['3FGA']
    if total_attempts > 0:
        return total_points / total_attempts
    else:
        return 0

def get_total_ppa(row):
    total_points = 2 * row['2FGM'] + 3 * row['3FGM']
    total_attempts = row['FGA']
    if total_attempts > 0:
        return total_points / total_attempts
    else:
        return 0

def team_scoring_poss(row):
    team_attempts = row['FGM']
    inner_part = (1 - (1 - (row['FTM'] / row['FTA']) ** 2))
    return team_attempts + inner_part *  row['FTA'] * 0.4

def team_play_percent(row):
    numerator = row['Scoring_Possesions']
    denom = row['FGA'] + row['FTA'] * 0.4 + row['Turnover']
    if denom > 0:
        return numerator / denom
    else:
        return 0

def possesions(row):
    fga = row['FGA']
    other_team_def_rebounds = (row['FGA'] - row['FGM']) - row['Off_Reb']
    reb_part = row['Off_Reb']/(row['Off_Reb'] + other_team_def_rebounds)
    fg_part = row['FGA'] - row['FGM']
    return fga - reb_part * fg_part * 1.07 + row['Turnover'] + row['FTA'] * 0.4

def won_game(row):
    if row['NDA_Score'] > row['Opponent_Score']:
        return 1
    else:
        return 0


def final_difference(row):
    return row['NDA_Score'] - row['Opponent_Score']

def offensive_efficiency(row):
    num = row['FGM'] + row['Assist']
    denom = row['FGA'] - row['Off_Reb'] + row['Assist'] + row['Turnover']
    if denom != 0:
        return num / denom
    else:
        return 0

def efficient_offense(row):
    inner = .76 * row['Assist'] + row['Points']
    return inner * row['Offensive_Efficiency']

def effective_fgp(row):
    num = row['FGM'] + (.5 * row['3FGM'])
    denom = row['FGA']
    if denom > 0:
        return num / denom
    else:
        return 0

In [11]:
game_stats_full['Offensive_Efficiency'] = game_stats_full.apply(offensive_efficiency, axis = 1)
game_stats_full['Eff_Points'] = game_stats_full.apply(efficient_offense, axis = 1)
game_stats_full['EFG%'] = game_stats_full.apply(effective_fgp, axis = 1)
game_stats_full['2PPA'] = game_stats_full.apply(get_ppa_two, axis = 1)
game_stats_full['3PPA'] = game_stats_full.apply(get_ppa_three, axis = 1)
game_stats_full['PPA'] = game_stats_full.apply(get_total_ppa, axis = 1)
game_stats_full['Won_Flag'] = game_stats_full.apply(won_game, axis = 'columns')
game_stats_full['Score_Diff'] = game_stats_full.apply(final_difference, axis = 'columns')
game_stats_full['Scoring_Possesions'] = game_stats_full.apply(team_scoring_poss, axis = 'columns')
game_stats_full['Possesions'] = game_stats_full.apply(possesions, axis = 'columns')
game_stats_full['Team_Play%'] = game_stats_full.apply(team_play_percent, axis = 'columns')
game_stats_full

,Game_ID,2FGM,2FGA,3FGM,3FGA,FTM,FTA,Off_Reb,Def_Reb,Assist,...,Eff_Points,EFG%,2PPA,3PPA,PPA,Won_Flag,Score_Diff,Scoring_Possesions,Possesions,Team_Play%
0,2,16,23,3,11,9,13,5,10,9,...,36.170909,0.602941,1.391304,0.818182,1.205882,1,25,21.492308,39.85,0.475494
1,4,17,27,4,11,21,28,11,24,14,...,49.407273,0.605263,1.259259,1.090909,1.210526,0,-1,27.300000,51.43,0.431962
2,6,24,37,11,19,6,8,12,14,17,...,74.226286,0.723214,1.297297,1.736842,1.446429,1,74,36.800000,55.36,0.539589
3,7,20,30,4,10,12,14,8,24,12,...,43.872000,0.650000,1.333333,1.200000,1.300000,1,26,28.114286,53.04,0.456401
4,8,26,34,11,28,7,11,13,18,15,...,74.677778,0.685484,1.529412,1.178571,1.370968,1,58,38.781818,60.49,0.521261
5,9,23,39,4,15,17,26,13,19,14,...,57.561311,0.537037,1.179487,0.800000,1.074074,1,56,31.446154,56.49,0.446678

In [12]:
game_stats_full.to_csv(r'C:\Users\Jake\Documents\GitHub\DataPlayGround2\csv\NDA_2022_2023\Team_Final_Stats.csv', index = False)

In [13]:
full_stats['Offensive_Efficiency'] = full_stats.apply(offensive_efficiency, axis = 1)
full_stats['Eff_Points'] = full_stats.apply(efficient_offense, axis = 1)
full_stats['EFG%'] = full_stats.apply(effective_fgp, axis = 1)
full_stats['2PPA'] = full_stats.apply(get_ppa_two, axis = 1)
full_stats['3PPA'] = full_stats.apply(get_ppa_three, axis = 1)
full_stats['PPA'] = full_stats.apply(get_total_ppa, axis = 1)
full_stats

,Player_ID,Game_ID,Start,Played,2FGM,2FGA,3FGM,3FGA,FTM,FTA,...,OT_Flag,FGA,FGM,Points,Offensive_Efficiency,Eff_Points,EFG%,2PPA,3PPA,PPA
0,1,2,Y,Y,3,6,0,1,2,3,...,N,7,3,8,0.625000,5.950000,0.428571,1.000000,0.0,0.857143
1,2,2,N,N,0,0,0,0,0,0,...,N,0,0,0,0.000000,0.000000,0.000000,0.000000,0.0,0.000000
2,3,2,N,Y,0,0,0,2,0,0,...,N,2,0,0,0.400000,0.608000,0.000000,0.000000,0.0,0.000000
3,4,2,N,Y,2,2,0,0,0,0,...,N,2,2,4,1.000000,4.760000,1.000000,2.000000,0.0,2.000000
4,10,2,N,N,0,0,0,0,0,0,...,N,0,0,0,0.000000,0.000000,0.000000,0.000000,0.0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61,13,9,N,Y,5,8,0,0,0,3,...,N,8,5,10,1.000000,10.000000,0.625000,1.250000,0.0,1.250000
62,15,9,N,Y,0,0,0,1,0,0,...,N,1,0,0,1.000000,3.040000,0.000000,0.000000,0.0,0.000000
63,20,9,Y,Y,3,5,1,2,3,4,...,N,7,4,12,0.571429,6.857143,0.642857,1.200000,1.5,1.285714
64,21,9,N,Y,0,1,0,0,0,0,...,N,1,0,0,-0.000000,-0.000000,0.000000,0.000000,0.0,0.000000
65,24,9,Y,Y,5,9,0,1,2,4,...,N,10,5,12,0.583333,7.886667,0.500000,1.111111,0.0,1.000000

In [14]:
full_stats.to_csv(r'C:\Users\Jake\Documents\GitHub\DataPlayGround2\csv\NDA_2022_2023\Player_Final_Stats.csv', index = False)

In [25]:
from pyomo.environ import*
import pandas as pd
players = ['HB', 'TF', 'GG', 'SW', 'KW', 'PM', 'PD', 'HG', 'KR', 'MG', 'DW']
off_eff = [.72 * .9, .55 * 1.1, .67 * .8, .73, .88 * .7, 
           .57 * 1.1, .38, .7 * .8, .2, .3, .2]
min_need = [15, 30, 30, 15, 5, 10, 5, 5, 0, 0, 0]
off_dict = dict(zip(players, off_eff))
min_dict = dict(zip(players, min_need))

model = ConcreteModel()

model.players = Var(players, domain = NonNegativeReals)

model.totals = Objective(expr = sum(off_dict[player] * model.players[player] for player in players), sense = maximize)

model.minutes = ConstraintList()
for player in players:
    model.minutes.add(model.players[player] >= min_dict[player])

model.max_mins = ConstraintList()
for player in players:
    model.max_mins.add(model.players[player] <= 36)

model.total_mins = ConstraintList()
model.total_mins.add(sum(model.players[player] for player in players) == 180)

solver = SolverFactory('glpk')
solver.solve(model)

dvars = pd.DataFrame([model.players[player]() for player in players],
                     index = players,
                     columns = ['Minutes'])
dvars

    Minutes
HB     36.0
TF     30.0
GG     30.0
SW     36.0
KW      5.0
PM     33.0
PD      5.0
HG      5.0
KR      0.0
MG      0.0
DW      0.0